.CardEditor {
  padding: 16px;
  width: 300px;
  display: flex;
  flex-direction: column;
  height: 300px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.72157);
}

.CardEditor__Image {
  height: 150px;
}

.CardEditor__Form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
