.CardList {
  width: 100vw;
  height: 90vh;
}

.ItemsList {
  background-color: #121a24;
}

.ItemsList:before {
  background-image: url(https://static.streamloots.com/99d63dc9-60b1-4376-aea9-08592f04781d/brand/streamloots-secondary.svg);
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.05;
  background-repeat: repeat;
}

.element {
  composes: element;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #202020;
  padding-left: 4px;
  box-shadow: -1px 2px 4px 0;
}

.element:hover {
  opacity: 1;
}

.ItemList__Element--even {
  composes: element;
  background-color: #ffffff;
}

.ItemList__Element--even:hover,
.ItemList__Element--uneven:hover {
  background-color: #eeeeee;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.ItemList__Element--uneven {
  composes: element;
  background-color: #ffffff;
}

.ItemList_Element_Link {
  color: #121a24;
}

.ItemList_Element_Link:hover {
  color: #121a24;
}

.ItemList__Element__Actions {
  padding-right: 10px;
  height: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.ItemList__Element__Actions > a {
  padding-right: 10px;
}
